### Importing Necessary Libraries

In [1]:
import pandas as pd
import numpy as np

### Importing Bike Rentals Dataset

In [2]:
df = pd.read_csv("day.csv")
print(df.columns)

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

### First few lines of Dataset

In [6]:
print(df.head())

   instant      dteday  season  yr  mnth  holiday  weekday  workingday  \
0        1  01-01-2018       1   0     1        0        6           0
1        2  02-01-2018       1   0     1        0        0           0
2        3  03-01-2018       1   0     1        0        1           1
3        4  04-01-2018       1   0     1        0        2           1
4        5  05-01-2018       1   0     1        0        3           1

   weathersit       temp     atemp      hum  windspeed  casual  registered  \
0           2  14.110847  18.18125  80.5833  10.749882     331         654
1           2  14.902598  17.68695  69.6087  16.652113     131         670
2           1   8.050924   9.47025  43.7273  16.636703     120        1229
3           1   8.200000  10.60610  59.0435  10.739832     108        1454
4           1   9.305237  11.46350  43.6957  12.522300      82        1518

    cnt
0   985
1   801
2  1349
3  1562
4  1600

### Find out data type of each column

In [3]:
print(df.dtypes)

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

### Find count, size and number of unique values in each column

In [4]:
print(df.agg(['min', 'max', 'count', 'size', 'nunique']))

         instant      dteday  season   yr  mnth  holiday  weekday  workingday  \
min            1  01-01-2018       1    0     1        0        0           0
max          730  31-12-2019       4    1    12        1        6           1
count        730         730     730  730   730      730      730         730
size         730         730     730  730   730      730      730         730
nunique      730         730       4    2    12        2        7           2

         weathersit        temp      atemp     hum   windspeed  casual  \
min               1    2.424346    3.95348    0.00    1.500244       2
max               3   35.328347   42.04480   97.25   34.000021    3410
count           730  730.000000  730.00000  730.00  730.000000     730
size            730  730.000000  730.00000  730.00  730.000000     730
nunique           3  498.000000  689.00000  594.00  649.000000     605

         registered   cnt
min              20    22
max            6946  8714
count           730   730
size            730   730
nunique         678   695

### Descriptive Statistics of Dataset:

In [5]:
print(df.describe())

          instant      season          yr        mnth     holiday     weekday  \
count  730.000000  730.000000  730.000000  730.000000  730.000000  730.000000
mean   365.500000    2.498630    0.500000    6.526027    0.028767    2.997260
std    210.877136    1.110184    0.500343    3.450215    0.167266    2.006161
min      1.000000    1.000000    0.000000    1.000000    0.000000    0.000000
25%    183.250000    2.000000    0.000000    4.000000    0.000000    1.000000
50%    365.500000    3.000000    0.500000    7.000000    0.000000    3.000000
75%    547.750000    3.000000    1.000000   10.000000    0.000000    5.000000
max    730.000000    4.000000    1.000000   12.000000    1.000000    6.000000

       workingday  weathersit        temp       atemp         hum   windspeed  \
count  730.000000  730.000000  730.000000  730.000000  730.000000  730.000000
mean     0.683562    1.394521   20.319259   23.726322   62.765175   12.763620
std      0.465405    0.544807    7.506729    8.150308   14.237589    5.195841
min      0.000000    1.000000    2.424346    3.953480    0.000000    1.500244
25%      0.000000    1.000000   13.811885   16.889713   52.000000    9.041650
50%      1.000000    1.000000   20.465826   24.368225   62.625000   12.125325
75%      1.000000    2.000000   26.880615   30.445775   72.989575   15.625589
max      1.000000    3.000000   35.328347   42.044800   97.250000   34.000021

            casual   registered          cnt
count   730.000000   730.000000   730.000000
mean    849.249315  3658.757534  4508.006849
std     686.479875  1559.758728  1936.011647
min       2.000000    20.000000    22.000000
25%     316.250000  2502.250000  3169.750000
50%     717.000000  3664.500000  4548.500000
75%    1096.500000  4783.250000  5966.000000
max    3410.000000  6946.000000  8714.000000

### Check for Missing Values

In [10]:
print(df.isnull().sum())

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64